/* Colors

#000080 Azul Marinho
#3C91E6 Azul Claro
#FFA630 Laranja
#F6F8FF Branco
#000500 Preto

*/

/* Common Itens */
body{
    background-color: #000080;
    color: #F6F8FF;
    background-image: url("images/bgimage.png");
    background-size: cover;
}

h1{
    font-family: "Libertinus Math", system-ui;
}

.title_container{
    text-align: center;
    margin-top: 1px;
    font-size:30px;
}

a{
    color: #FFA630;
}

h3{
    text-indent: 0.2cm;
}

ul{
  list-style-image: url('images/pokeballicon.png');
  list-style-position: outside;
  }

/* Specific Itens */

.link_texto{
  color: #F6F8FF
}

.sidebar {
  position: absolute;       
  right: 20px;
  top: 100px;
  height: 100vh;         
  width: 175px;
  height: calc(100vh - 40px); 
  background-color: #FFA630;
  border-radius: 0%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar h3 {
  text-align: center;
}