/* Colors

#000080 Azul Marinho
#3C91E6 Azul Claro
#FFA630 Laranja
#F6F8FF Branco
#000500 Preto

*/

/* Common Itens */

body{
    background-color: rgb(0, 0, 128);
    color: #F6F8FF;
    background-image: url("images/bgimage.png");
    background-size: cover;
}

h1{
    font-family: "Libertinus Math", system-ui;
}

.title_container{
    text-align: center;
    margin-top: 1px;
    font-size:30px;
}

a{
    color: #FFA630;
}

h3{
    text-indent: 0.2cm;
}

ul{
  list-style-image: url('images/pokeballicon.png');
  list-style-position: outside;
  }

/* Specific Itens */
